.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1a1a1a;
  padding: 10px;
  border-radius: 5px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.btn {
  padding: 4px 12px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
